<div class="container my-sm-3">
  <div class="row">
    <div class="table-responsive-sm col-12">
      <table class="table" *ngIf="(users$ | async) as users">
        <thead>
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Login</th>
            <th scope="col">Type</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <div (click)="showDetail(user)">
                <img [src]="user.avatar_url" class="img-thumbnail img-avatar">
              </div>
            </td>
            <td>{{ user.login }}</td>
            <td>{{ user.type }}</td>
            <td><a [href]="user.html_url" target="_blank">{{ user.html_url }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>